<div class="site-wrap site-padding">    
    <form id="registrationForm" class="account-form">
        <h1>Create Account</h1>
        <label for="fname">Firstname</label>
        <input type="text">
        <label for="lname">Lastname</label>
        <input type="text">
        <label for="email">Email</label>
        <input type="text">
        <label for="password-register">Password</label>
        <input type="password">
        <button type="submit" id="btnCreate" class="btnCreate">Create</button>

    </form>
</div>
