<div class="banner-section banner-slider">
    <div class="banner-item">
      <div class="banner-row">
        <div class="overlay">
          <div class="banner-box" style="background-image:url({{ 'hero.jpeg' | asset_url  }});">
            <!-- banner image -->
          </div>
        </div>
        <!-- <div class="wrap wrap-px">
          <div class="banner-info bounce-up in-view" >
            <h2>Welcome to {{ shop.name }}</h2>
            <p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>
            <a href="{{shop.url}}" class="btn"> Shop Here!</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>