{% assign hero_img = images["hero-1.jpeg"]%}
<div class="banner-section banner-slider">
    <div class="banner-item">
      <div class="banner-row">
        <div class="header-overlay">
          <div class="banner-box" style="background-image:url({{ hero_img | img_url: '1920x900'}}); background-position:center;">
            <!-- banner image -->
          </div>
        </div>
        <div class="site-wrap">
          <div class="banner-info ">
            <h1>Shop our latest summer collection</h1>
            <!-- <p>Use overlay text to give your customers insight into your brand. <br>Select imagery and text that relates to your style and story.</p> -->
            <a href="{{shop.url}}"> Shop Now! {% include 'icon-arrow-right' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>