{% assign img_text = images["hero-1.jpeg"]%}
<div class="img-txt-container">
    <div class="site-wrap">
        <div class="left-container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <figure>
                        <img class="img-txt" src="{{ img_text | img_url: '1200x1200'}}">
                    </figure>
                </div>
        
                <div class="col-md-12 col-lg-6">
                    <div class="img-txt-info">
                        <h3>Image with text</h3>
                        <p>Pair large text with an image to give focus to your chosen product, 
                            collection, or blog post. Add details on availability, style, 
                            or even provide a review.</p>
                        <button>Button</button>
                    </div>
                </div>
        
            </div>
        </div>
    
        <div class="right-container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="img-txt-info">
                        <h3>Image with text</h3>
                        <p>Pair large text with an image to give focus to your chosen product, 
                            collection, or blog post. Add details on availability, style, 
                            or even provide a review.</p>
                        <button>Button</button>
                    </div>              
                </div>
        
                <div class="col-md-12 col-lg-6">
                    <figure>
                        <img class="img-txt" src="{{ img_text |  img_url: '1200x1200'}}">
                    </figure>
                    
                </div>
        
            </div>
        </div>
    </div>
</div>