<div class="newsletter-container">
    <h2>Subscribe to our Newsletter</h2>
    <p>Promotions, new products and sales. Directly to your inbox.</p>
    <form class="newsletterForm" method="POST" id="sendNewletterForm">
        <input type="text" id="email" name="email">
        <button type="submit" name="sendEmail" id="btnNewsletter">{% include 'icon-right'%}</button>
    </form>

</div>