<div class="rich-text site-wrap">
    <h4>Talk about your brand</h4>
    <p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>
</div>