<div class="text-column-container site-wrap">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="text-column">
                <figure>
                    <img src="" alt="">
                </figure>

                <h4>Title here</h4>
                <p>Share blog posts, products, or promotions with your customers. 
                    Use this text to describe products, share details on availability 
                    and style, or as a space to display recent reviews or FAQs.</p>
                <button>Button</button>

            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="text-column">
                <figure>
                    <img src="" alt="">
                </figure>

                <h4>Title here</h4>
                <p>Share blog posts, products, or promotions with your customers. 
                    Use this text to describe products, share details on availability 
                    and style, or as a space to display recent reviews or FAQs.</p>
                <button>Button</button>

            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="text-column">
                <figure>
                    <img src="" alt="">
                </figure>

                <h4>Title here</h4>
                <p>Share blog posts, products, or promotions with your customers. 
                    Use this text to describe products, share details on availability 
                    and style, or as a space to display recent reviews or FAQs.</p>
                <button>Button</button>

            </div>
        </div>
        
        

    </div>

</div>