// put your styles here
$color1: purple;
$color2: black;
$color3:#f5f5f5;
$color4: white;

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: $color3;
}
.icons-svg{
    margin: 0 10px;
    
}
.site-wrap{
    max-width: 1200px;
    margin: 0 auto;
}
.site-padding{
    padding: 50px 0;

}
.content-container{
    h1, h2, h3, h4{
        font-weight: bold;
        text-transform: uppercase;
    }
    
    button{
        border: none;
        background-color: $color1;
        color: $color4;
        padding: 8px 15px;
        text-transform: uppercase;
        &:hover{
            background-color: rebeccapurple;
        }      
        &:focus{
            outline: none;
        }
    }
}

.mobile-view{
    display: none;
}
//------ HEADER & TOP BANNER -------
.top-bar{
    background-color: $color1;
    text-align: center;
    padding: 5px;

    .top-bar-content a{
        color: $color4;
        text-decoration: none;
        &:hover{
            color: $color4;
        }
    }
}



.header{
    background-color: $color2;  
    a {
        color: $color4;
        text-decoration: none;
        &:hover{
            color: $color1;
            text-decoration: none;
        }   
    }

    .header-container{
        .header-top{
            width: 100%;
            padding: 15px 0;
            position: relative;
            .logo{
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-size: large;
            }
        }       
        }               
    }

    .header-bottom{
        .main-menu{
            display: flex;    
            justify-content: space-between;       
            ul{
                display: flex;
                text-align: left;
                padding: 0;
                margin: 1em 0;
                a{
                    padding: 10px 30px;
                    &:hover{
                        color: $color4;
                    }
                }
                .childmenu-list{
                    padding: 0;
                    display: none;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    z-index: 1;
                    &:hover{
                        color: $color1;
                    }
                }
                    
                li{  
                    display: block;                
                    a{
                        display: block;
                    }
                    &:hover{
                        border-bottom: $color1 2px solid;
                        .childmenu-list{  
                            margin: 5px 0;                          
                            display: block;
                            background-color: $color1;
                            padding: 15px 0;
                           
                        }
                    }
                }
            } 
            
            .icon-menu{
                padding: 10px 30px;
                align-items: center;
                display: flex;               
                a:hover{
                    color: $color4;
                }               
            }
        }
}

.mobile-nav{
    display: none;
}
.header-search-bar{
    position: absolute;
    top: 40%;
    right: 0;
    form{
                   
        display: flex;
        border: $color1 1px solid;
        border-radius: 100vh;
        padding: 2px;
        // border-bottom: $color1 1px solid;

        input[type=search]{
            flex-grow: 2;
            border: none;
            background-color: transparent;
            border-radius: 100vh;
            padding: 0 5px;
            color: $color4;
            &:focus{
                outline: none;
            }
        }
        ::placeholder{
            color: white;
            
        }
        button{
            border: none;
            background-color: transparent;
            font-size: inherit;
            line-height: inherit;
            display: flex;
            align-items: center;
        } 
        // &:focus{
        //     border: $color1 1px solid;
        //     border-radius: 100vh;
        // }                  
    } 
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    background-color: $color2;
}



// BANNER HEADER
.banner-section{
    position: relative;
   
    .banner-box {
        height: 550px; 
        background-size: cover;
    }
    
    .banner-info{
       position: absolute;
       bottom: 20%; 
       color: $color4;
       padding-left: 15px;
       width: 600px;
       h1{
           margin-bottom: 30px;
       }
       a{
           text-decoration: none;
           background-color: $color1;
           color: $color4;
           padding: 8px 15px;
           text-transform: uppercase;
           &:hover{
               background-color: rebeccapurple;
           }
           svg{
               margin-left: 8px;
           }
       }
    }
}

.header-overlay{
    position: relative;
    &:after{
        position: absolute;
        content: "";
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity:1;
        background-color: $color1;
        opacity: .1;
    }
    
}


// ----- COLLECTION
.filter-bar{
    // display: flex;
    .filter-form{
        text-align: right;
        .btnFilter{
            background-color: $color3;
            border: $color1 2px solid;
            color: $color1;
            text-transform: uppercase;
            padding: 3px 15px;
            svg{
                fill: $color1;
                
            }
        }

        .sort-options{
            padding: 3px 0 ;
            margin-left: 20px;
        }
    }

    .filter-container{
        height: 150px;
        background-color: $color4;
    }
}

.product-box{    
    flex-wrap: wrap;
    background-color: white;
    padding: 15px;
    height: 100%;

    a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        width: 250px;
        color: $color2;
        font-weight: bold;    

        figure{     
            width: 100%; 
            max-width: 250px;
            display: block;
            overflow: hidden;  

            .product-img{
                width: 250px;
                height: 250px;
                object-fit: cover; 

                &:hover{
                    transition: 550mms all ease-in-out;
                    transform: scale(1.1);
                }             
            }                
        }      
    }

    .product-info{
        color: $color1;
    }
    
}

// FEATURED COLLECTIONS
.collection-list {
    text-align: center;

    .large-collection {
        padding: 8px 0;
        overflow: hidden;
        
        figure{
            width: 100%; 
            max-width: 580px;
            overflow: hidden;
            .collection-img{
                opacity: 1;
                height: 580px;
                width: 580px;
                object-fit: cover;
                
            }
            &:hover{
                .collection-button{
                    opacity: 1;
                }
            }  
        }
       
        
        
    } 

    .collection-button{
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 8%;
        // transform: translate(-50%, -50%);
        // -ms-transform: translate(-50%, -50%);
        // text-align: center;
        z-index: 2;
            h2{
                color: $color4;
            }
            h5{
                text-transform: uppercase;
                background-color: $color1;
                padding: 8px 15px;
                color: $color4;
                width: 150px;
                margin: 0 auto;
            }
    }
    
    .medium-collection {
        padding: 8px 0;

        figure{
            width: 100%; 
            max-width: 280px;
            overflow: hidden;
       
            .collection-img{
                height: 280px;
                width: 280px;
                object-fit: cover;
                
            }
        }  
        
        &:hover{
            .collection-button{
                opacity: 1;
            }
        } 
    }
   
}

.overlay{
    position: relative;
    &:after{
        position: absolute;
        content: "";
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity:0;
        background-color: $color1;
    }
    &:hover:after{
        opacity: .3;
    }
}

//SMALL COLLECTION
.small-collection{
    margin-bottom: 45px;
    padding: 45px 0;
    background-color: $color4;
    position: relative;
    text-align: center;
    h2{
        margin-bottom: 1em;
    }
    a{
        color: $color2;
        text-decoration: none;
        &:focus{
            outline: none;
        }
    }
    .small-collection-info{
        display: flex;
        padding:0 65px;
        .column{
            height: 240px;
            border: $color2 2px solid;
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }

    .button-container{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 52%;
        width: 100%;
        max-width: 1200px;
    }

    .slick-dots{
        display: none !important;
    }
    
    
}
.prev, .next{
    background-color: $color1;
    border-radius: 30px;
    height: 45px;
    &:focus{
        outline: none;
    }
}



// MAP
.map-container{
    position: relative;
    margin-bottom: 45px;

    .map-hero-image{
        height: 500px;
        background-size: cover;
    }
    
    .map-info{
        .info-container{
            position: absolute;
            top: 20%;
            height: 300px;
            width: 300px;
            padding: 45px;
            text-align: center;
            background-color: $color4;
            margin: 0 30px;

            button{
                text-transform: uppercase;
                margin-top: 20px;
            }
        }
    }
}

// TESTIMONIAL
.testimonial-container{
    text-align: center;
    margin-bottom: 45px;
    
    background-color: #fff;
    padding: 50px;
    display: flex;
    box-shadow: 5px 10px 20px lightgrey;
    .testimonial-info{
        margin: 10px;       
        height: 200px;
       
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            display: inline;
            button{
                background-color: transparent;
                color: $color2;
                font-size: 20px;
                &:hover{
                    background-color: transparent;
                }
                &:focus{
                    font-size: 32px;
                    color: $color1;
                    outline: none;
                }
            }
            &.slick-active{
                button{
                    font-size: 32px;
                    color: $color1;
                }
               
            }
            
        }
    }
}

// GALLERY
.gallery-container{
    height: 300px;
    .gallery-column{
        height: 300px;
        background-color: $color4;
        background-size: cover;
    }
}

//IMAGE WITH TEXT
.img-txt-container{
    margin-bottom: 45px;
    figure{
        .img-txt{
            width: 550px;
            height: 550px;
            object-fit: cover;
            margin: 0 20px;
        }
    }

    .img-txt-info{
        padding: 180px 0;
        margin: 0 20px;
        p{
            margin: 20px 0;
        }
    }
    
}

//SLIDESHOW
.slideshow-container{
    position: relative;
    width: 100%;
    .slideshow-img{
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    ul{
        position: absolute;
        list-style-type: none;
        bottom: 5%;
        left: 10%;
        margin: 0;
        padding: 0;
        li{
            display: inline;
            button{
                font-size: 0;
                padding: 8px;
                border-radius: 50px;
                margin-right: 10px;
                opacity: 0.8;
                &:hover{
                  background-color: rebeccapurple;
                }
                &:focus{
                    padding: 10px;
                    outline: none;
                }
            }
            
        }
    }
}
// NEWSLETTER
.newsletter-container{
    text-align: center;

    margin: 100px 0;
    form{

        input[type=text]{
            width: 300px;
            padding: 8px;
            border: lightgray 1px solid;
        }
        button{
            padding: 8px 20px;
        }
    }
}

//TEXT
//RICH TEXT
.rich-text{
    width: 750px;
    padding: 50px 0;
    text-align: center;
}

.text-column-container{
    margin-bottom: 45px;
    .text-column{
        margin: 15px;
        figure{
            height: 350px;
            background-color: rebeccapurple;
        }
    }
}

// ----- PRODUCT PAGE ------
.product-img-container{
    display: flex;
    .product-gallery{
        figure{
            width: 100%;
            max-width: 80px;
            overflow: hidden;
            a{
                img{
                    width: 80px;
                    height: 100px;
                    object-fit: cover;  
                }
            }
        }
    }

    .product-featured-img{
        img{
            height: auto;
            width: 100%;
            margin-left: 20px;
        }   
    }
}

.product-info-container{
    padding: 15px;
    h3{
        color: $color1;
        font-size: 20px;
    }
    .cartForm{
        font-size: 20px;
        button, select, input[type=number]{
            width: 100%;
            margin: 15px 0;
            text-align: center;
        }
        .btnShare{
            background-color: $color3;
            border: $color1 2px solid;
            color: $color1;
            margin-top: 0;
           
        }
    }
}

.product-recommendation{
    padding-top: 45px;
    h2{
        color: $color1;
        font-size: 25px;
        text-align: center;
        padding: 10px 0;
    }

}

// ------ SEARCH PAGE ------- 
.search-bar{
    text-align: center;
    input[type=search]{
        width: 400px;
        padding: 8px 15px;
        margin: 10px 0;
        border: lightgray 2px solid;
    }
    button{
        padding: 10px 20px;
    }
}

.search-outputs{
    padding: 20px 0;
}

// ----- shoppping cart ------- 
.shoppingCart-heading{
    display: flex;
    padding-bottom: 15px;
    a{
        margin: 13px;
        padding: 0 10px;
        color: $color1;
        &:hover{
            color: rebeccapurple;
        }
    }
}

.shopping-cart{

    .table-shopping-cart{
        .table-header{
            display: flex;
            h5{
                font-weight: 600;
                text-transform: uppercase;
                border-top: black 2px solid;
                border-bottom: black 2px solid;
                padding: 10px 0;
            }
            h5:first-child{
                flex: 3 1;  
            }
            h5:not(:first-child){
                flex: 1 1;
                
            }
        }

        .table-item{
            padding: 15px 0;
            border-bottom: lightgray 1px solid;
            .table-row{
                display: flex;
                .cart-checkout-details{
                    display: flex;
                    flex: 4 1;
                    .checkout-price, .checkout-quantity-input, .checkout-total{
                        flex: 1 1;
                        margin-top: 15px;
                    }

                    .checkout-product-info{
                        flex: 2 1;
                        margin-top: 15px;

                    }

                    input[type=number]{
                        width: 35%;
                        text-align: center;
                    }
                }
            }
        }
    }
    
    .checkout-product-img{
        flex: 1 1;
        padding: 10px 0;
        a{
            img{
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
        }
    }

    .checkout-product-title{
        width: 300px;
        white-space: pre-line;
        padding: 15px;
    }

    .checkout-quantity{

        input[type=number]{
            width: 50px;
        }
    }


    a.checkout-remove{
        color: $color1;
        // padding-left: 15px;
    }

    .shopping-subtotal{
        text-align: right;
        padding: 15px 0;
        h3{
            font-size: 15px;
        }      
    }
    
}

.cart-empty{
    text-align: center;
    p{
        margin: 25px 0;
    }
    a{
        padding: 8px 15px;
        text-decoration: none;
        background-color: $color1;
        color: $color4;
        &:hover{
            background-color: rebeccapurple;
        }
    }
    svg{
        margin: 0 5px 0 10px;
    }
}
.small-shopping-cart{
    display: none;
    .table-item{               
        .table-row{
            border-bottom: lightgray 1px solid;
            padding: 10px;
            display: flex;
        }
        .checkout-product-info{
            padding: 15px;
            .checkout-feature{
                // padding: 15px 15px 0;                 
                input[type=number]{
                    width: 20%;
                    text-align: center;
                }
                a.checkout-remove{
                    padding-left: 30px;
                }
            }
           
        }
    }

    .shopping-subtotal{
        border-top: black 2px solid;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        h3, p {
            font-size: 22px;
        }
    }

    button{
        width: 100%;
        margin: 10px 0;
    }
}
// ----- ACCOUNT ------
.account-form{
    white-space: pre-line;
    text-align: center;
    label{
        margin-bottom: 0;
    }
    input[type=text], input[type=password]{
        width: 400px;
        padding: 5px;
        margin: 15px 0;
    }
    .btnLogin{
        margin: 15px 0;
    }
    a{
        padding: 5px;
        text-decoration: none;
        color: $color2;
        &:hover{
            color: $color1;
        }
    }  
}
  
// ------- FOOTER -------- 

footer{
    height: auto;
    background-color: $color2;
    .footer-container{
        padding: 45px 0;
        max-width: 1200px;
        margin: 0 auto;
        h1,h2,h3{
            font-weight: bold;
            color: $color4;
        }
        p{
            color: $color3;
        }
        .footer-info{
            .newsletterForm{
                display: flex;
                input[type=text]{
                    border: none;
                    width: 300px;
                    padding: 8px 15px;
                }
                button{
                    border: none;
                    background-color: $color1;
                    color: $color4;
                    padding: 8px 20px;
                    &:hover{
                        background-color: rebeccapurple;
                    }  
                    &:focus{
                        outline: none;
                    }
                }
            }

            .social-media-container{
                padding: 40px 0;
                a{
                    text-decoration: none;
                }
                svg{
                    margin-right: 10px;
                    margin-left: 0;
                    &:hover{
                        stroke: none;
                        fill: $color1;
                    }
                }
            }

            .footer-navigation{
                .footer-menu-link{
                    display: block;
                    a{
                        text-decoration: none;
                        color: $color3;
                        &:hover{
                            color: $color1;
                        }
                    }
                }
            }
        
        }

        .copyright-container{
            padding: 10px 0;
            border-top: $color3 1px solid;
            .copyright-info{
                p{
                    padding-left: 15px;
                } 
            }
              
            
            a{
                text-decoration: none;
                color: $color3;
                &:hover{
                    color: $color1;
                }
            }
        }
        
    }
  
}

@media (max-width: 1200px){

}

@media (max-width: 768px){
    // HOMEPAGE
    .sticky{
        max-width: 768px;
    }

    .mobile-nav{
        display: none;
    }

    .banner-section{
        .banner-box{
            height: 500px;
        }
        .banner-info{
            text-align: center;
            left: 11%;
            padding-left: 0;

        }
    }

    .slideshow-container{
        .slideshow-img{
            height: 500px;
        }
    }
    

    .small-collection{
        padding: 45px 10px;
        .small-collection-info{
            padding: 0 45px;
            .column{
                height: 180px !important;
            }
        }

        .button-container{
            width: 97.5%;
        }
    }
    
    .img-txt-container{
        margin: 0 20px 45px;
        figure{
            .img-txt{
                height: 350px;
                width: 350px;
                margin: 0;
            }
        }

        .img-txt-info{
            padding: 50px 0;
            
        }
    }

    .testimonial-container{
        margin: 10px 20px 45px 20px;
    }

    .footer-container{
        margin: 0 20px !important;
    }

    .large-collection{
        margin: 0 10px !important;
        figure{
            .collection-img{
                height: 350px !important;
                width: 350px !important;
            }
        }
    }

    .medium-collection{
        figure{
            .collection-img{
                height: 150px !important;
                width: 150px !important;
            }
        }
    }

    // COLLECTION & SEARCH PAGE
    .collection-container, .search-container{
        margin: 0 20px;
        
    }

    .product-box{
        a{
            width: 320px;
            figure{
                max-width: 320px;
                .product-img{
                    height: 320px;
                    width: 320px;
                }
            }
        }
    }

    // PRODUCT PAGE
    .product-section{
        margin: 0 20px;
        .product-img-container{
            .product-gallery{
                display: none;
            }

            .product-featured-img{
                img{
                    margin: 0;
                }
            }
        }
    }

    // CART PAGE
    .cart-container{
        margin: 0 20px;
        .table-header{
            h5:first-child{
                flex: 3.5 1 !important;
            }
        }

        .table-item{
            .table-row{
                .cart-checkout-details{
                    display: flex;
                    flex: 4 1;
                    .checkout-price, .checkout-quantity-input, .checkout-total{
                        flex: 1 1;
                    }

                    .checkout-product-info{
                        flex: 2.5 1;
                        margin-left: 15px;

                    }

                }
            }
        }
    }

    .small-shopping-cart{
        display: none;
    }

    
    
}


@media (max-width: 576px){
    // HOMEPAGE

    // HEADER
    .header-bottom, .header-container{
        display: none;
    }

    //MOBILE NAVIGATOR
    .mobile-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        ul{
            padding: 0;
            list-style-type: none;
            .header-search-bar{
                position: initial;
                top: 0;
                left: 0;
                padding: 8px 0;
                form{
                    padding: 5px;
                    button{
                        margin: 0;
                    }
                }
            }
            li{                
                .main-link{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                }               
                a{
                    font-size: 20px;
                }
                button{
                    background-color: transparent;
                    outline: none;
                    border: none;
                    svg{
                        fill: white;
                    }
                }
            }
            .childmenu-list{
                display: none;
                margin-left: 20px;
                li{
                    padding: 8px 0;
                }
            }
        }
        
        .mobile-menu{
            display: flex;
        }
        .menu-toggle{
            display: flex;
            flex-direction: column;
            position: relative;
            top: 5px;
            left: 5px;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;

            .mobile-icon{
                display: flex;
                width: 40px;
                height: 32px;
                position: absolute;
                cursor: pointer;
                opacity: 0;
                z-index: 2;
            }

            span{
                display: flex;
                width: 29px;
                height: 2px;
                margin-bottom: 5px;
                position: relative;
                background: #ffffff;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 5px 0px;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;
            }

            span:first-child{
                transform-origin: 0% 0%;
            }

            span:nth-last-child(2){
                transform-origin: 0% 100%;
            }

            input:checked ~ span{
                opacity: 1;
                transform: rotate(45deg) translate(-3px, -1px);
                background: white;
            }

            input:checked ~ span:nth-last-child(3){
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }

            input:checked ~ span:nth-last-child(2){
                transform: rotate(-45deg) translate(0, -1px);
            }

            input:checked ~ ul{
                transform: none;
            }

            .mainmenu-list{
                position: absolute;
                width: 100vw;
                height: 100vh;              
                margin: -80px 0 0 -20px;
                padding: 50px;
                padding-top: 125px;
                background-color: $color2;
                -webkit-font-smoothing: antialiased;
                transform-origin: 0% 0%;
                transform: translate(-100%, 0);
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

                li{
                    // padding: 10px 0;
                    transition-delay: 2s;
                }
            }
        }
        
        .mobile-logo{
            .logo{
                font-size: 22px;
            }
            img{
                height: 60px;
            }
        }

        .mobile-main{
            position: relative;
            .mainmenu-list{
                // position: absolute;
                background-color: #f5f5f5;
                // width: 80%;
                // height: 100%;
            }
        }

        .mobile-search{
            svg{
                margin-left: 15px;
            }
        }
        svg{
            width: 22px;
            height: 22px;
            
            
        }

        a, button{
            margin-right: 10px;
        }
    }

    .banner-section{
        .banner-info{
            left: 0;
            width: auto;
        }

        .banner-box{
            height: 600px;
        }
    }

    // figure{
    //     max-width: 250px !important;
        
    // }

    // .collection-img{
    //     height: 250px !important;
    //     width: 250px !important;
    // }
        
    .desktop-view{
        display: none;
    }

    .mobile-view{
        display: block;
        .medium-collection{
            figure{
                // max-width: 150px;
                .collection-button{
                    width: 85%;
                    top: 33%;
                    opacity: 1;
                    h5{
                        background-color: transparent;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .footer-container{
        margin: 0 20px;
        .footer-info{
            text-align: center;
            .footer-newsletter{
                .newsletterForm{
                    display: initial;
                }
            }
            .footer-contact{
                padding: 40px 0;
            }           
        }

        .copyright-container{
            .copyright-info{
                width: 100%;
                text-align: center;
                p{
                    padding: 0 !important;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    // PRODUCT PAGE
    .product-box{
        a{
            width: 220px;
            figure{
                max-width: 220px;
                .product-img{
                    height: 220px;
                    width: 220px;
                }
            }
        }
    }

    // CART PAGE
    .cart-container{
        
        .shoppingCart-heading{
            display: block;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: black 2px solid;
        }
        .large-shopping-cart{
            display: none;
        }

        .small-shopping-cart{
           
            display: block;
            .table-item{               
                .table-row{
                    border-bottom: lightgray 1px solid;
                    padding: 10px;
                    display: flex;
                }
                .checkout-product-info{
                    padding: 15px;
                    .checkout-feature{               
                        input[type=number]{
                            width: 20%;
                            text-align: center;
                        }
                        a.checkout-remove{
                            padding-left: 30px;
                        }
                    }
                   
                }
            }

            .shopping-subtotal{
                border-top: black 2px solid;
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                h3, p {
                    font-size: 22px;
                }
            }

            button{
                width: 100%;
                margin: 10px 0;
            }
        }
    }
}


